In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('4liver.csv', delimiter=',')

Вывод первых 20 строк. Данный датасет отображает данные по заболеваемости печени у людей разного возраста и пола. Датасет содержит данные о возрасте пациентов, его поле, общем и прямом билирубине, щелочной фосфатазе, аламиноаминотрансферазе, аспартитиминотрансферазе, общем количестве белков, альбумине, соотношении альбуминов и глобулинов и столбец для определения наблюдается ли данный пациент с заболеванием печени или нет.

In [3]:
df.head(20)

,Age,Gender,TotalBilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset123
0,65,Female,0.7,0.1,187.0,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699.0,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490.0,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182.0,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195.0,27,59,7.3,2.4,0.40,1
5,46,Male,1.8,0.7,208.0,19,14,7.6,4.4,1.30,1
6,26,Female,0.9,0.2,154.0,16,12,7.0,3.5,1.00,1
7,29,Female,0.9,0.3,202.0,14,11,6.7,3.6,1.10,1
8,17,Male,0.9,0.3,202.0,22,19,7.4,4.1,1.20,2
9,55,Male,0.7,0.2,290.0,53,58,6.8,3.4,1.00,1
10,57,Male,0.6,0.1,210.0,51,59,5.9,2.7,0.80,1
11,72,Male,2.7,1.3,260.0,31,56,7.4,3.0,0.60,1
12,64,Male,0.9,0.3,310.0,61,58,7.0,3.4,0.90,2
13,74,Female,1.1,0.4,214.0,22,30,8.1,4.1,1.00,1
14,61,Male,0.7,0.2,145.0,53,41,5.8,2.7,0.87,1
15,25,Male,0.6,0.1,183.0,91,53,5.5,2.3,0.70,2
16,38,Male,1.8,0.8,342.0,168,441,7.6,4.4,1.30,1
17,33,Male,1.6,0.5,165.0,15,23,7.3,3.5,0.92,2
18,40,Female,0.9,0.3,293.0,232,245,6.8,3.1,0.80,1
19,40,Female,0.9,0.3,293.0,232,245,6.8,3.1,0.80,1

Информация о датасете
Датасет содержит 11 столбцов и 587 строк. Столбцы имеют типы данных: float64 в количестве 6, int64 в количестве 2 и 3 столбца с типом данных object.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587 entries, 0 to 586
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         587 non-null    int64
 1   Gender                      587 non-null    object
 2   TotalBilirubin              585 non-null    float64
 3   Direct_Bilirubin            587 non-null    float64
 4   Alkaline_Phosphotase        586 non-null    float64
 5   Alamine_Aminotransferase    587 non-null    int64
 6   Aspartate_Aminotransferase  587 non-null    object
 7   Total_Protiens              587 non-null    float64
 8   Albumin                     587 non-null    float64
 9   Albumin_and_Globulin_Ratio  583 non-null    float64
 10  Dataset123                  587 non-null    object
dtypes: float64(6), int64(2), object(3)
memory usage: 50.6+ KB

Изменение названия столбца Dataset123, так как данное название не отображает сути представленных в нем данных
Также было изменено название столбца totalbilirubin, так как отсутствовало нижнее подчеркивание между 2 словами total_bilirubin
Также выполнен перевод в нижний регистр

In [5]:
df = df.rename(columns={'Dataset123':'Purpose'})
df = df.rename(columns={'TotalBilirubin': 'Total_Bilirubin'})
df.columns = df.columns.str.lower()

Вывод названий всех столбцов

In [6]:
df.columns

Index(['age', 'gender', 'total_bilirubin', 'direct_bilirubin',
       'alkaline_phosphotase', 'alamine_aminotransferase',
       'aspartate_aminotransferase', 'total_protiens', 'albumin',
       'albumin_and_globulin_ratio', 'purpose'],
      dtype='object')

Выявление и удаление явных дубликатов. Производится удаление строк, которые полностью повторяют уже встречавшиеся в датасете.
После удаления явных дубликатов стоит обновить индексацию, чтобы в ней не осталось пропусков. При использовании метода reset_index() индексы становятся новой колонкой с названием index и все строки получают новые индексы без пропусков.

In [7]:
df.duplicated().sum()

15

In [8]:
df = df.drop_duplicates().reset_index()

In [9]:
df.duplicated().sum()

0

Поиск и удаление пропусков
Так как количество строк, имеющие пропуски, является незначительным, то можно просто удалить эти строки

In [10]:
df.isna().sum()

index                         0
age                           0
gender                        0
total_bilirubin               2
direct_bilirubin              0
alkaline_phosphotase          1
alamine_aminotransferase      0
aspartate_aminotransferase    0
total_protiens                0
albumin                       0
albumin_and_globulin_ratio    4
purpose                       0
dtype: int64

In [11]:
df = df.dropna(subset=['total_bilirubin', 'alkaline_phosphotase', 
                       'albumin_and_globulin_ratio'])

In [12]:
df.isna().sum()

index                         0
age                           0
gender                        0
total_bilirubin               0
direct_bilirubin              0
alkaline_phosphotase          0
alamine_aminotransferase      0
aspartate_aminotransferase    0
total_protiens                0
albumin                       0
albumin_and_globulin_ratio    0
purpose                       0
dtype: int64

Выявление и удаление неявных дубликатов
В столбце gender была опечатка в слове Mal, слово было исправлено на Male
В столбце purpose был добавлен лишний параметр yes, поэтому он был заменен на 1

In [13]:
df['gender'].unique()

array(['Female', 'Male', 'Mal'], dtype=object)

In [14]:
df.loc[df['gender']=='Mal', 'gender'] = 'Male'

In [15]:
df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [16]:
df['purpose'].unique()

array(['1', '2', 'yes'], dtype=object)

In [17]:
df.loc[df['purpose']=='yes', 'purpose'] = '1'
df['purpose'].unique()

array(['1', '2'], dtype=object)

Создание сводной таблицы
В результате создания данной сводной таблицы можно пронаблюдать у пациентов разного возраста среднее количество белков в организме, возможно эти данные помогут выявить предрасположенность к данной болезни заранее.

In [18]:
df_pivot = df.pivot_table(index=['age'], aggfunc={'total_protiens':'mean'})
df_pivot

     total_protiens
age
4          7.250000
6          4.800000
7          7.000000
8          7.500000
10         7.600000
..              ...
75         5.178571
78         6.300000
84         6.000000
85         7.000000
90         6.900000

[72 rows x 1 columns]

Создание группировок

С помощью данной группировки было выведено среднее значение общего билирубина у пациентов в зависимости от их пола.

In [19]:
df_gr = df.groupby('gender')['total_bilirubin'].mean()
df_gr

gender
Female    2.353623
Male      3.655972
Name: total_bilirubin, dtype: float64

Данная группировка выводит среднее значение возраста пациентов, которые имеют проблемы с печенью и здоровых средний возраст здоровых людей.

In [20]:
df_gr1 = df.groupby('purpose')['age'].mean()
df_gr1

purpose
1    46.284653
2    41.447205
Name: age, dtype: float64

Были изучены: метод head, метод info, возможность вывода на экран названия столбцов, выявление и устранение пропусков, проверка данных на наличие явных и неявных дубликатов (устранение ошибок в написании слов, переименование неверных данных)  и удаление их, проверка на соответствие типов данных, создание сводных таблиц с помощью pivot_table и группировка данных с помощью group_by. При создании сводных таблиц и группировок было выявлено, что они отличаются тем, что группировка применяется к структуре данных типа Series для одномерных массивов, а сводная таблица применима к структуре данных DataFrame для двумерных таблиц, содержащих строки и столбцы.
Данный набор данных помогает проследить за людьми с заболеванием печени, в нем можно наглядно увидеть в каком количестве в организме находятся те или иные вещества, как их количество зависит от возраста, пола или друг от друга и кто при определенных показаниях имеет предрасположенность к заболеванию.